# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# dependencies
/node_modules
/.pnp
.pnp.js
*.local

# testing
/coverage

# production
; /dist # we do want to commit /dist, as the Nahima server might not support all our dependencies
/build/*.psd
/build/webfrontend # however, we can exclude anything the `make` file generates
build/webfrontend
src/SpecimenViewer3DPlugin.coffee.js
build-stamp-l10n

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
